/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 24, 2023, 2:14:04 PM
    Author     : gblan
*/
*{
    background-color: whitesmoke;
    font-family: sans-serif;
}

table{
    font-size: 16px;
}

.tituloTabla div{
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.tituloTabla h2{
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    
}

.tableF{
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    animation: float 5s infinite;
    
}

th{
    color: #D5DDE5;
    background-color: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

th:first-child{
    border-top-left-radius: 3px;
}

th:last-child{
    border-top-right-radius: 3px;
    border-right: none;
}

tr{
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    color: #666b85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.option{
    display: flex;
    margin-right: 90%;
}

