<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <html>
        <head>
            <title>Practica</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="..\static\css\estilo.css" rel="stylesheet" type="text/css"/>
        </head>
        <body>

            <div class="tituloTabla">
                <h2>Lista de Paises</h2>
            </div>
            
            <a class="btn btnForm btnPrimary" th:href="@{/estado/nuevo}"> Agregar Pais </a>

            <p th:text="${variable}"></p>
            <p>[[${variable}]]</p>

            <div th:if="${estados != null and !estados.empty}">
                <table  class="tableF">
                    <thead>
                        <tr>
                            <th class="izquierda">Pais</th>
                            <th class="izquierda">Capital</th>
                            <th class="izquierda">Habitantes</th>
                            <th class="izquierda">Costas</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr th:each="estado: ${estados}">
                            <td class="textLeft">[[${estado.nombre_estado}]]</td>
                            <td class="textLeft">[[${estado.capital_estado}]]</td>
                            <td class="textLeft">[[${estado.poblacion_estado}]]</td>
                            <td class="textLeft">[[${estado.costa_estado}]]</td>
                            <td class="textLeft">
                                <ul class="options">
                                    <li class="option"><a class="btn btnForm btnPrimary" th:href="@{/estado/eliminar/} + ${estado.idEstado}">Eliminar</a></li>
                                    <li class="option"><a class="btn btnForm btnPrimary" th:href="@{/estado/modificar/} + ${estado.idEstado}">Modificar</a></li>
                                </ul>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div th:if="${estados == null or estados.empty}">
                <h2>No hay estados que mostrar </h2>

            </div>






            <br>
            <br>
            <br>
        </body>
    </html>
